@model MVCProject.Models.ViewModel.StudentWithDepartment
@{
    ViewBag.Title = "ShowStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowStudents</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Sl#</th>
            <th scope="col">Regi No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Department Code</th>
            <th scope="col">Department Name</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MVCProject.Models.ViewModel.StudentWithDepartment studentWithDepartment in ViewBag.StudentWithDeptList)
        {
        <tr>
            <th>@studentWithDepartment.StudentId</th>
            <td>@studentWithDepartment.RegiNo</td>
            <td>@studentWithDepartment.Name</td>
            <td>@studentWithDepartment.Email</td>
            <td>@studentWithDepartment.MobileNo</td>
            <td>@studentWithDepartment.DeptCode</td>
            <td>@studentWithDepartment.DeptName</td>
            <td><a href="~/student/editstudent?id=@studentWithDepartment.StudentId">Edit</a></td>
        </tr>
        }
    </tbody>
</table>
<div style="margin-top:30px"> <a role="button" class="btn-primary btn-lg text-center btn-block" href="~/Student/Index">Back</a> </div>

