
@{
    ViewBag.Title = "ShowStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowStudents</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Regi No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in ViewBag.studentList)
        {
            <tr>
                <th>@student.Id</th>
                <td>@student.RegiNo</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.MobileNo</td>
                <td><a href="">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<div style="margin-top:30px"> <a role="button" class="btn-primary btn-lg text-center btn-block" href="~/Student/Index">Back</a> </div>

